/* Reset some default styles */
body, html, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

section {
    width: 100%;
}

header {
    width: 100%;
    background-color: #01939c;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    margin-left: 20px;

}

.navigation a:hover {
    color: #ddd;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* Adjust this value based on the header height */
    text-align: center;
}

.info h2 {
    color: #01939c;
    font-size: 36px;
}
